<h1>Registro de Candidatos Presidenciales</h1>

<form (submit)="registrarCandidato()">
  <label>Nombre Completo Presidente:</label>
  <input type="text" [(ngModel)]="candidato.nombrePresidente" required>

  
  
  <label>Cedula del Presidente:</label>
  <input type="text" [(ngModel)]="candidato.cedulaPresidente" required>

  <label>Nombre del Vicepresidente:</label>
  <input type="text" [(ngModel)]="candidato.nombreVicepresidente" required>

  <label>Nombre del asambleista 1:</label>
  <input type="text" [(ngModel)]="candidato.nombreAsambleista1" required>

  <label>Nombre asambleista 2:</label>
  <input type="text" [(ngModel)]="candidato.nombreAsambleista2" required>


  <label>Nombre vocal 1:</label>
  <input type="text" [(ngModel)]="candidato.nombreVocal1" required>
  <label>Nombre vocal 2:</label>
  <input type="text" [(ngModel)]="candidato.nombreVocal2" required>

  <button (click)="registrarCandidato()">Registrar Candidato</button>
</form>

<h2>Lista de Candidatos</h2>
<table>
  <thead>
    <tr>
      <th>Presidente</th>
      <th>Cedula</th>
      <th>Vicepresidente</th>
      <th>asambleista 1</th>
      <th>asambleista 2</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of candidatos">
      <td>{{ c.nombrePresidente }} {{ c.apellidoPresidente }}</td>
      <td>{{ c.nombreVicepresidente }} {{ c.apellidoVicepresidente }}</td>
      <td>{{ c.partido }}</td>
    </tr>
  </tbody>
</table>
